.gallery-grid {
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows:auto;
    grid-gap: 5px;

}
.grid-item_inner {
    border: 1px solid black;
}
.grid-item_img {
    width: 100%;
    height: 400px;
}
.grid-item_img:hover {
    width: 100%;
    height: 400px;
}
.grid-item_title:hover {
}