body {
    margin: 0;
    height: 140vh;
    width: 220vh;
    display: flex;
    align-items: end;
    justify-content: center;
    background-color: black;
    overflow: scroll;
}

.menu {
    position: fixed;
    top: 0;
    right: 0;
    color: white;
    z-index: 1;
    font-size: 1vw;
}

#form_register {
    font-size: 1vw;
    border-radius: 2px;
    border: gray solid 1px;
}

#pauseButton {
    background: green;
    color: white;
    font-size: 1vw;
    border-radius: 2px;
    border: gray solid 1px;
}

.container {
    font-size: 10px;
    width: 40em;
    height: 40em;
    position: relative;
}

.sun {
    position: absolute;
    top: 15em;
    left: 15em;
    width: 10em;
    height: 10em;
    background-image: url("../img/sun.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}

.mercury, .venus, .earth, .moon, .mars,
.phobos, .deimos, .jupiter, .io, .europa,
.ganymede, .callisto, .saturn, .titan,
.rhea, .iapetus, .dione, .tethys, .enceladus,
.mimas, .uranus, .titania, .oberon, .umbriel,
.ariel, .miranda, .neptune, .triton, .proteus {
    position: absolute;
    border-style: solid;
    border-color: white;
    border-width: 0.0em;
    border-radius: 50%;
}

.mercury {
    top: 12.5em; /*положення орбіти*/
    left: 12.5em;
    width: 15em; /*ширина орбіти*/
    height: 15em;
    animation: orbit 2.4s linear infinite;
}

.venus {
    top: 4.5em;
    left: 4.5em;
    width: 30em;
    height: 30em;
    animation: orbit 6.2s linear infinite;
}

.earth {
    top: -3em;
    left: -3em;
    width: 45em;
    height: 45em;
    animation: orbit 10s linear infinite;
}

.moon {
    top: 2.5em;
    right: 2.5em;
    width: 8em;
    height: 8em;
    animation: orbit 1s linear infinite;
}

.mars {
    top: -10.5em;
    left: -10.5em;
    width: 60em;
    height: 60em;
    animation: orbit 19s linear infinite;
}

.phobos {
    top: 6.2em;
    right: 6.2em;
    width: 5em;
    height: 5em;
    animation: orbit 1s linear infinite;
}

.deimos {
    top: 4.7em;
    right: 4.7em;
    width: 8em;
    height: 8em;
    animation: orbit 1.1s linear infinite;
}

.jupiter {
    top: -25em;
    left: -25em;
    width: 90em;
    height: 90em;
    animation: orbit 118s linear infinite;
}

.io {
    top: 9.7em;
    right: 9.7em;
    width: 7em;
    height: 7em;
    animation: orbit 1s linear infinite;
}

.europa {
    top: 9.2em;
    right: 9.2em;
    width: 8em;
    height: 8em;
    animation: orbit 1.1s linear infinite;
}

.ganymede {
    top: 8.2em;
    right: 8.2em;
    width: 10em;
    height: 10em;
    animation: orbit 1.2s linear infinite;
}

.callisto {
    top: 6.2em;
    right: 6.2em;
    width: 14em;
    height: 14em;
    animation: orbit 1.4s linear infinite;
}

.saturn {
    top: -40em;
    left: -40em;
    width: 120em;
    height: 120em;
    animation: orbit 294s linear infinite;
}

.titan {
    top: 11.8em;
    right: 11.8em;
    width: 11em;
    height: 11em;
    animation: orbit 1.7s linear infinite;
}

.rhea {
    top: 13.2em;
    right: 13.2em;
    width: 8em;
    height: 8em;
    animation: orbit 1.4s linear infinite;
}

.iapetus {
    top: 9.7em;
    right: 9.7em;
    width: 15em;
    height: 15em;
    animation: orbit 1.8s linear infinite;
}

.dione {
    top: 13.7em;
    right: 13.7em;
    width: 7em;
    height: 7em;
    animation: orbit 1.3s linear infinite;
}

.tethys {
    top: 14.2em;
    right: 14.2em;
    width: 6em;
    height: 6em;
    animation: orbit 1.2s linear infinite;
}

.enceladus {
    top: 14.7em;
    right: 14.7em;
    width: 5em;
    height: 5em;
    animation: orbit 1s linear infinite;
}

.mimas {
    top: 15.2em;
    right: 15.2em;
    width: 4em;
    height: 4em;
    animation: orbit 1.1s linear infinite;
}

.uranus {
    top: -55em;
    left: -55em;
    width: 150em;
    height: 150em;
    animation: orbit 840s linear infinite;
}

.titania {
    top: 17.4em;
    right: 17.4em;
    width: 9em;
    height: 9em;
    animation: orbit 1.4s linear infinite;
}

.oberon {
    top: 16.9em;
    right: 16.9em;
    width: 10em;
    height: 10em;
    animation: orbit 1.5s linear infinite;
}

.umbriel {
    top: 18.4em;
    right: 18.4em;
    width: 7em;
    height: 7em;
    animation: orbit 1.2s linear infinite;
}

.ariel {
    top: 18.9em;
    right: 18.9em;
    width: 6em;
    height: 6em;
    animation: orbit 1.1s linear infinite;
}

.miranda {
    top: 19.4em;
    right: 19.4em;
    width: 5em;
    height: 5em;
    animation: orbit 1s linear infinite;
}

.neptune {
    top: -70em;
    left: -70em;
    width: 180em;
    height: 180em;
    animation: orbit 1648s linear infinite;
}

.triton {
    top: 20.8em;
    right: 20.8em;
    width: 11em;
    height: 11em;
    animation: orbit 1.4s linear infinite;
}

.proteus {
    top: 23.2em;
    right: 23.2em;
    width: 6em;
    height: 6em;
    animation: orbit 1.2s linear infinite;
}

.mercury::before, .venus::before, .earth::before, .moon::before,
.mars::before, .phobos::before, .deimos::before, .jupiter::before,
.io::before, .europa::before, .ganymede::before, .callisto::before,
.saturn::before, .titan::before, .rhea::before, .iapetus::before,
.dione::before,.tethys::before,.enceladus::before,.mimas::before,
.uranus::before, .titania::before,.oberon::before,.umbriel::before,
.ariel::before,.miranda::before, .neptune::before, .triton::before,
.proteus::before {
    content: '';
    position: absolute;
    border-radius: 50%;
}

.mercury::before {
    top: 1.6em; /*положення на орбіті*/
    right: 1.6em;
    width: 1.2em; /*розмір*/
    height: 1.2em;
    background-image: url("../img/mercury.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.venus::before {
    top: 3.2em;
    right: 3.2em;
    width: 2.2em;
    height: 2.2em;
    background-image: url("../img/venus.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.earth::before {
    top: 5.4em;
    right: 5.4em;
    width: 2.2em;
    height: 2.2em;
    background-image:url("../img/earth.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.moon::before {
    top: 0.8em;
    right: 0.8em;
    width: 0.8em;
    height: 0.8em;
    background-image: url("../img/moon.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.mars::before {
    top: 8em;
    right: 8em;
    width: 1.6em;
    height: 1.6em;
    background-image: url("../img/mars.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.phobos::before {
    top: 0.6em;
    right: 0.6em;
    width: 0.3em;
    height: 0.3em;
    background-image: url("../img/phobos.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.deimos::before {
    top: 1em; /*розташування на оріті*/
    right: 1em;
    width: 0.3em; /*розмір*/
    height: 0.3em;
    background-image: url("../img/deimos.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.jupiter::before {
    top: 10.3em;
    right: 10.3em;
    width: 6em;
    height: 6em;
    background-image: url("../img/jupiter.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.io::before {
    top: 0.6em;
    right: 0.6em;
    width: 0.8em;
    height: 0.8em;
    background-image: url("../img/io.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.europa::before {
    top: 0.7em;
    right: 0.7em;
    width: 0.8em;
    height: 0.8em;
    background-image: url("../img/europa.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.ganymede::before {
    top: 0.9em;
    right: 0.9em;
    width: 1em;
    height: 1em;
    background-image: url("../img/ganymede.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.callisto::before {
    top: 1.6em;
    right: 1.6em;
    width: 0.9em;
    height: 0.9em;
    background-image: url("../img/callisto.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.saturn::before {
    top: 12.5em;
    right: 12.5em;
    width: 10em;
    height: 10em;
    background-image: url("../img/saturn.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.titan::before {
    top: 1.1em;
    right: 1.1em;
    width: 1em;
    height: 1em;
    background-image: url("../img/titan.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.rhea::before {
    top: 0.8em;
    right: 0.8em;
    width: 0.7em;
    height: 0.7em;
    background-image: url("../img/rhea.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.iapetus::before {
    top: 1.8em;
    right: 1.8em;
    width: 0.7em;
    height: 0.7em;
    background-image: url("../img/iapetus.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.dione::before {
    top: 0.6em;
    right: 0.6em;
    width: 0.6em;
    height: 0.6em;
    background-image: url("../img/dione.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.tethys::before {
    top: 0.5em;
    right: 0.5em;
    width: 0.6em;
    height: 0.6em;
    background-image: url("../img/tethys.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.enceladus::before {
    top: 0.5em;
    right: 0.5em;
    width: 0.4em;
    height: 0.4em;
    background-image: url("../img/enceladus.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.mimas::before {
    top: 0.4em;
    right: 0.4em;
    width: 0.4em;
    height: 0.4em;
    background-image: url("../img/mimas.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.uranus::before {
    top: 20em;
    right: 20em;
    width: 4em;
    height: 4em;
    background-image: url("../img/uranus.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.titania::before {
    top: 1.0em;
    right: 1.0em;
    width: 0.7em;
    height: 0.7em;
    background-image: url("../img/titania.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.oberon::before {
    top: 1em;
    right: 1em;
    width: 0.7em;
    height: 0.7em;
    background-image: url("../img/oberon.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.umbriel::before {
    top: 0.7em;
    right: 0.7em;
    width: 0.6em;
    height: 0.6em;
    background-image: url("../img/umbriel.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.ariel::before {
    top: 0.5em;
    right: 0.5em;
    width: 0.6em;
    height: 0.6em;
    background-image: url("../img/ariel.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.miranda::before {
    top: 0.5em;
    right: 0.5em;
    width: 0.4em;
    height: 0.4em;
    background-image: url("../img/miranda.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.neptune::before {
    top: 24.2em;
    right: 24.2em;
    width: 4em;
    height: 4em;
    background-image: url("../img/neptune.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.triton::before {
    top: 1.1em;
    right: 1.1em;
    width: 0.8em;
    height: 0.8em;
    background-image: url("../img/triton.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.proteus::before {
    top: 0.6em;
    right: 0.6em;
    width: 0.4em;
    height: 0.4em;
    background-image: url("../img/proteus.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@keyframes orbit {
    to {
        transform: rotate(1turn);
    }
}