.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-item {
    flex-basis: calc(33% - 20px);
    margin: 13px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.gallery-item img {
    display: block;
    width: 100%;
    height: auto;
    border: black 1px solid;
}

.gallery-item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.gallery-item:hover .overlay {
    opacity: 1;
}

pre {
    font-size: 1vw;
}

.sun-planet {
    width: 60%;
    height: 60%;
}

h1, h2 {
    text-align: center;
}

a {
    font-size: 1.5vw;
    text-decoration: none;
}

.ref {
    border: solid black 1px;
    position: absolute;
    top: 0;
    left: 0;
    width: 99%;
    height: 99%;
    overflow-y: scroll;
}

li {
    padding-bottom: 20px;
}

.navigation-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    padding: 10px;
}

.navigation-panel a {
    text-decoration: none;
    color: black;
    padding: 10px;
    margin-right: 10px;
    border: black 1px dashed;
    border-radius: 3px;
    background: #fdffaf;
}

.navigation-panel a:hover {
    text-decoration: none;
    color: black;
    padding: 10px;
    margin-right: 10px;
    border: black 1px solid;
    border-radius: 3px;
    background: #fffa00;
    font-size: 36px;
}