body {
    background: black;
    font-size: 1vw;
}

.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-items: left;
    align-items: center;
    margin-top: 10%;
}

.planet, .satellites {
    text-align: center;
    background: black;
    color: white;
}

img {
    width: 250px;
    height: 250px;
    position: relative;
}

.no-style {
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    border: none;
    position: static;
}

h1, h3 {
    text-align: center;
    color: white;
}

@media (min-width: 2560px) and (min-height: 1440px) {
    img {
        width: 400px;
        height: 400px;
        position: relative;
    }
}
